{% extends 'faculity_nav.html' %}

{% block title %} List Assignments
{% endblock title %}
{% block body %}

<body>
<div id="main">
	<div class="container py-5 my-5">	

    <div class="card col-md-12 border-1">
              	<br>
                <h2 class="pl-2"><b><span class="fa fa-clipboard-list"> </span> List Assignments</b></h2>
                {% ifequal id 'invalid' %}
                            
 <div class="alert alert-danger card m-2">
  <strong><span class="fa fa-times-circle"> </span> ERROR!</strong> Something Went Wrong.!
</div>                            
                            {% endifequal %}

  {% ifequal request.GET.del 'fail' %}
                            
 <div class="alert alert-danger card m-2">
  <strong><span class="fa fa-times-circle"> </span> ERROR!</strong> Something Went Wrong.!
</div>                            
                            {% endifequal %}



                            {% ifequal request.GET.del 'succ' %}
                            
 <div class="alert alert-success card m-2">
  <strong><span class="fa fa-check-square"> </span> Sucessfull!</strong> Delete Student Sucessfull
</div>                            
                            {% endifequal %}


                           

             <div class="conainer bg-white table-responsive-sm ml-2">
        <br>
        <table class="table col-md-12 table-striped table-light table-hover table-sm  p-2 table-bordered" id="list_assignments">
            <thead class="table-dark">
                <th>S.I</th>
                <th>Assignments Directory</th>
                <th>Question(s)</th>
                <th>Max Marks</th>
                <th>Last Date</th>
                <th>Status</th>
                <th>Action</th>
               

            </thead>
            <tbody>

             {% for data in AssignmentListData  %}
             
                    <tr>
                        <td id="{{data.assignment_id}}_assignment_id">{{data.assignment_id}}</td>
                        <td id="{{data.assignment_id}}_assignment_DIR"><a href="dirOpen?dir={{data.assignment_DIR}}">{{data.assignment_DIR}}</a></td>
                        <td id="{{data.assignment_id}}_assignment_QN">{{data.assignment_QN}} </td>
                        <td id="{{data.assignment_id}}_assignment_Marks">{{data.assignment_Marks}}</td>
                        <td id="{{data.assignment_id}}_assignment_Last_Date">{{data.assignment_Last_Date}}</td>
                        <td id="{{data.assignment_id}}_assignment_status">
                        
                         
                            {% ifequal data.assignment_status True  %}
                            
                            Open
                            
                            {% endifequal %}
                            

                            {% ifequal data.assignment_status False  %}
                            
                            Closed
                            
                            {% endifequal %} </td>

                             </td>

                        
                        <td>
                            <a href="teach_edit_assignment?id={{data.assignment_id}}">
                            <button type="button" class="btn btn-primary"> 

                            <span class="fa fa-pencil"> </span>
                            
                            </button>
                            </a>
                           
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter" onclick="assignModalValue(this.value);" value="{{data.assignment_id}}">
<span class="fa fa-trash"> </span></button>

<a href="teach_view_submitted_assignments?id={{data.assignment_id}}">
  <button type="button" class="btn btn-primary"> 

  <span class="fa fa-eye"> </span> 
  
  </button>
  </a>

                        </td>
                    </tr>
            {% endfor %}

            </tbody>
        </table>
        <br>
    </div>


           


</div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Are You Sure Delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body ">
        <b>Assignment ID : </b> <span id="assignmentID"></span>
        <br>
        <b>Directory: </b> <span id="dir_assign"></span>
        <br>
        <b>Last Date : </b> <span id="last_date_assign"></span>
        <br>
        <b>Status : </b> <span id="status_assign"></span>

      </div>
      <div class="modal-footer">
      
<a href="teach_del_stdnt?id={{data.stdnt_id}}" id="assignmentDeleteLINK">
<button type="button" class="btn btn-danger"><span class="fa fa-minus-circle"></span>  Confirm</button></a>

        <button type="button" class="btn btn-secondary" data-dismiss="modal"><span class="fa fa-window-close"></span> Close</button>
      </div>
    </div>
  </div>
</div>

</body>
<script>
openNav();
 $(document).ready(function() {
        $('#list_assignments').DataTable();
    });
    
function assignModalValue(idVar) {
var fullIDSelector = "#"+idVar;

var AssignmentID=fullIDSelector+"_assignment_id";
var AssinmentDIR=fullIDSelector+"_assignment_DIR";
var AssignemtnStatus=fullIDSelector+"_assignment_status";
var AssignmentLastDate=fullIDSelector+"_assignment_Last_Date";

var id= $(AssignmentID).text();
$("#assignmentID").text($(AssignmentID).text());
$("#dir_assign").text($(AssinmentDIR).text());
$("#last_date_assign").text($(AssignmentLastDate).text());
$("#status_assign").text($(AssignemtnStatus).text());


var sendAttrLink = "teach_del_assignment?id="+id;

$("#assignmentDeleteLINK").attr('href',sendAttrLink);

}
</script>
{% endblock %}
</html>