{% extends 'faculity_nav.html' %}

{% block title %} Add New Assignment
{% endblock title %}
{% block body %}


<body>
<div id="main">
	<div class="container py-5 my-5 ml-auto">	
			
    <div class="card border-1">
  
              	
                <h2 class="pl-2"><b><span class="fa fa-tasks"> </span> Add New Assignment</b></h2>
            {% ifequal request.GET.suc 'added' %}
                            
 <div class="alert alert-success card m-2">
  <strong><span class="fa fa-check-square"> </span> Sucessfull!</strong> Assignment added Sucessfully   
</div>                            
                            {% endifequal %}
           <div class="card-body">
            <form action="" method="post" enctype="multipart/form-data" id="form">
                {% csrf_token %}

                
        </div>
        <br>
        <div class="row col-md-12">
            <div class="col-md-6">
                <div class="form-group row">
                   
				   <div class="col col-md-6">
				   <label><b><span class="fa fa-folder-open"></span> Directory Name :</b></label>

                    <input type="text" class="form-control" name="assgin_DirName" placeholder="Directory Name*"
                         required />
						</div>
						<div class="col col-md-6">  
				   <label><b><span class="fa fa-poll-h"></span>  Marks :</b></label>

                    <input type="text" class="form-control" name="assgin_Marks" placeholder="Marks For Assignment *"
                         required />
						</div>

                </div>

                
                <div class="row">
                <div class="form-group  col-md-6">
				
                    <label><b><span class="fa fa-file"></span> File Type:</b></label>
                    <select class="form-control" name="file_type" required>
                    
                    <option value=".txt">Text File </option>
                    <option value=".c">C File </option>
                    <option value=".cpp">C++ File </option>
                    <option value=".py">Python File </option>
                    <option value=".html">HTML File </option>
                    <option value=".java">Java File </option>
                    

                     </select>
                </div>

                 <div class="form-group  col-md-6">
				
                    <label><b><span class="fa fa-calendar-week"></span> Last Date :</b></label>
                    <input type="date" class="form-control" name="assign_LastDate" placeholder="assign_LastDate *" required />
                </div>
               
              </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
				  <label><b><span class="fa fa-file-signature"></span> Question(s):</b></label> <br>

                   <textarea class="form-control" name="assign_QN" rows="5"></textarea>
                  
                </div>
                   </div>
        </div>
        <div class="form-group">
                   
<input class="btn btn-primary ml-3" type="submit" value="Add Assignment" id="submit_btn">
    <br>
    </div>
	 

                </div>



    </form>
    </div>
    </div>


</div>
</div>
</body>
<script>
openNav();

</script>
{% endblock %}
</html>