{% extends 'faculity_nav.html' %}
{% block title %}
    View Notices
{% endblock title %}
{% block body %}
    <body>
        <div id="main">
            <div class="container py-5 my-5">
                <div class="card col-md-12 border-1">
                    <h2>
                        <span class="fa fa-eye"></span> View Attendance
                    </h2>
                    
  {% if request.GET.nodate == 'yes' %}
                            
  <div class="alert alert-danger card m-2">
   <strong><span class="fa fa-times-circle"> </span> ERROR!</strong> Attendance not added for the date selected!
 </div>                            
                             {% endif %}
                    <hr>
                    <div class="conainer bg-white table-responsive-sm ml-2">
                        <form action=""
                              method="post"
                              id="myForm"
                              class="form-horizontal"
                              role="form">
                              {% csrf_token %}
                            <b>Pick Date:</b>


                            <input class="form-control col-md-4" type="date" id="datepick" name="pickdate" required/>
                            <br/>
                            <input type="submit" class="btn btn-primary" value="View Attendance" />
                        </form>
                        <br>
                    </div>
                </div>
            </div>
        </body>
        <script>
    openNav();
    $(document).ready(function () {
        $('#view_stdnts').DataTable();
    });
    $(document).ready(function () {
        var today = new Date();
        var day=today.getDate()>9?today.getDate():"0"+today.getDate(); // format should be "DD" not "D" e.g 09
        var month=(today.getMonth()+1)>9?(today.getMonth()+1):"0"+(today.getMonth()+1);
        var year=today.getFullYear();

        $("#datepick").attr('max', year + "-" + month + "-" + day);
});
        </script>
    {% endblock %}
</html>
