{% extends 'student_nav.html' %}
{% block title %}
    My Payments
{% endblock title %}
{% block body %}
    <body>
        <div id="main">
            <div class="container py-5 my-5">
                <div class="card col-md-12 border-1">
                    <br>
                    <h2 class="pl-2">
                        <b><span class="fa fa-clipboard-list"></span> My Payments</b>
                    </h2>
                    <div class="conainer bg-white table-responsive-sm ml-2">
                        <br>
                        <table class="table col-md-12 table-striped table-light table-hover table-sm  p-2 table-bordered"
                               id="list_assignments">
                            <thead class="table-dark">
                                <th>S.I</th>
                                <th>Razorpay ID</th>
                                <th>Payment Type</th>
                                <th>Payment Amount</th>
                                <th>Payment Date</th>
                                <th>Payment State</th>
                                <th>Reason</th>
                            </thead>
                            <tbody>
                                {% for data in PaymentsData %}
                                    {% if data.payment_state ==  True %}
                                        <tr class="bg-success text-white">
                                        {% else %}
                                            <tr class="bg-danger text-white">
                                            {% endif %}
                                            {% comment %} <tr> {% endcomment %}
                                            <td id="{{ data.payment_id }}_assignment_id">{{ forloop.counter }}</td>
                                            <td id="{{ data.payment_id }}_razorpay_payment_id">{{ data.razorpay_payment_id }}</td>
                                            <td id="{{ data.payment_id }}_fees_type">{{ data.fees_type }}</td>
                                            <td id="{{ data.payment_id }}_fees_amount">INR {{ data.amount }} /-</td>
                                            <td id="{{ data.payment_id }}_payment_submittion_date">{{ data.payment_submittion_date }}</td>
                                            <td id="{{ data.payment_id }}_payment_state">
                                                {% if data.payment_state ==  True %}
                                                    Success
                                                {% else %}
                                                    Failed
                                                {% endif %}
                                            </td>
                                            <td id="{{ data.payment_id }}_reason">
                                                {% if data.reason ==  False %}
                                                    Success
                                                {% else %}
                                                    {{ data.reason }}
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <br>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade"
                     id="exampleModalCenter"
                     tabindex="-1"
                     role="dialog"
                     aria-labelledby="exampleModalCenterTitle"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content ">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Are You Sure Delete</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body ">
                                <b>Assignment Submission ID : </b> <span id="assignmentID"></span>
                                <br>
                                <b>Marks: </b> <span id="marks"></span>
                                <br>
                                <b>Review : </b> <span id="review"></span>
                                <br>
                                <b>File : </b> <a href="" id="file" download></a>
                            </div>
                            <div class="modal-footer">
                                <a href="teach_del_stdnt?id={{ data.stdnt_id }}"
                                   id="assignmentDeleteLINK">
                                    <button type="button" class="btn btn-danger">
                                        <span class="fa fa-minus-circle"></span> Confirm
                                    </button>
                                </a>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    <span class="fa fa-window-close"></span> Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </body>
            <script>
  openNav();
  $(document).ready(function () {
    $('#list_assignments').DataTable();
  });





            </script>
        {% endblock %}
    </html>
