{% extends 'student_nav.html' %}
{% block title %}
    View Book
{% endblock title %}
{% block body %}
    <body>
        <div id="main">
            <div class="container py-5 my-5 ml-auto">
                <div class="card border-1">
                    <br>
                    <h2 class="pl-2">
                        <b><span class="fa-solid fa-book"></span> {{ BookData.book_Name }}</b>
                    </h2>
                    {% if msg %}
                        <div class="alert alert-success m-2">
                            <strong><span class="fa fa-check-square"></span> Success!</strong> Upload Sucessfull
                        </div>
                    {% else %}
                    {% endif %}
                    <div class="card-body">
                        {% csrf_token %}
                        <div class=" col-md-6" id="msgbox" style="display: none;">
                            <div class="alert alert-danger" role="alert">Password Not Match</div>
                        </div>
                        <br>
                        <div class="row col-md-12">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <div class="col col-md-6">
                                        <label>
                                            <b><span class="fa fa-sort-numeric-down-alt"></span> Book ID :</b>
                                        </label>
                                        <input type="text"
                                               class="form-control"
                                               name="book_id"
                                               value="TKREC/{{ BookData.book_special_category }}/{{ BookData.book_id }}"
                                               readonly
                                               required/>
                                    </div>
                                    <div class="col col-md-6">
                                        <label>
                                            <b><span class="fa fa-user"></span>  Book Author :</b>
                                        </label>
                                        <input type="text"
                                               class="form-control"
                                               name="AuthName"
                                               value="{{ BookData.book_author }}"
                                               readonly
                                               required/>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col col-md-6">
                                        <label>
                                            <b><i class="fa-solid fa-calculator"></i> Book Stock:</b>
                                        </label>
                                        <input type="text"
                                               class="form-control"
                                               value="{{ BookData.book_stock }}"
                                               disabled/>
                                    </div>
                                    <div class="col col-md-6">
                                        <label>
                                            <b><span class="fa fa-users"></span> Book Added By:</b>
                                        </label>
                                        <input type="text"
                                               class="form-control"
                                               value="{{ BookData.book_addedBy }}"
                                               disabled/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>
                                        <b><i class="fa fa-calendar"></i> Added Date & Time :</b>
                                    </label>
                                    <input type="text"
                                           class="form-control"
                                           name="upload_date_and_Time"
                                           readonly
                                           value="{{ BookData.book_added_date }}"
                                           required
                                           id="upload_date_and_Time"/>
                                </div>
                                <div class="form-group"></div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>
                                            <b><i class="fa fa-file"></i> Book Description :</b>
                                        </label>
                                        <textarea class="form-control" rows="8" name="review_frm" readonly>{{BookData.book_desc}} </textarea>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>
                                            <b><i class="fa fa-image"></i> Book Image :</b>
                                        </label>
                                        <img src="/{{BookData.book_img}}" height="250px"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input class="btn btn-primary ml-3"
                                   type="submit"
                                   value="Borrow"
                                   id="upload_btn">
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>openNav();</script>
{% endblock %}
</html>
