
<!-- Footer -->
<footer class="page-footer font-small unique-color-dark">


  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-4 col-xl-3 mx-auto mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">College</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto " style="width: 60px;    justify-content: center ; !important">
        <p>TKR Educational Society was established in 2001, it is reputedly academic oriented. Sri. Teegala Krishna Reddy, the former mayor of Hyderabad and leader of masses is the Chairman of the society. A native of Meerpet Village with challenging experiences in the process of emerged..</p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-4 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Departments</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!" style="text-decoration:none !important;"><i class="fa fa-desktop"></i> Computer Science</a>
        </p>
        <p>
          <a href="#!"><i class="fa fa-bolt"></i> Electrical</a>
        </p>
        <p>
          <a href="#!"><i class="fa fa-broadcast-tower"></i> Communication</a>
        </p>
        <p>
          <a href="#!"><i class="fa fa-city"></i> Civil</a>
        </p>
        <p>
          <a href="#!"><i class="fa fa-cogs"></i> Mechanical</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Useful links</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="/portal"><i class="fas fa-link"></i> Portal</a>
        </p>
        <p>
          <a href="https://www.sbtet.telangana.gov.in/index.html"><i class="fas fa-link"></i> AICTE Website</a>
        </p>
        <p>
          <a href="https://jntuh.ac.in/"><i class="fas fa-link"></i> JNTUH, HYD</a>
        </p>
        <p>
          <a href="https://www.sbtet.telangana.gov.in/index.html"><i class="fas fa-link"></i> Technical Board</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fas fa-graduation-cap mr-3"></i> Teegala Krishna Reddy Engineering College</p>
        <p>
          <i class="fas fa-envelope mr-3"></i> infotkrec@gmail.com</p>
        <p>
          <i class="fas fa-phone mr-3"></i> + 91 84980 85218</p>
        

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="https://www.linkedin.com/in/sainath-sapa/">Team Agaystya, TKR College of Engineering</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->